
@{
    ViewData["Title"] = "Confirmar exclusão";
}
<div>
  <h1>Tem certeza que deseja excluir usuário?</h1> 
  <a class="btn btn-danger">Deletar</a>
  <a class="btn btn-secondary" asp-action="Index" asp-controller="Usuario">Voltar</a>
</div>
