@model IEnumerable<Usuario>
@{
    ViewData["Title"] = "Novo Usuário";
}
<div class="row">
    <div class="col-10">
        <h2>Novo Usuário</h2>
    </div>
    <div class="col-2">
        <a asp-action="Criar" class="btn btn-primary form-control">Novo Usuário</a>
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Ações</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in @Model)
        {
        <tr>           
            <td>@usuario.Nome</td>
            <td>@usuario.email</td>
            <td><a class="btn btn-primary" asp-action="Editar" asp-route-id="@usuario.ID">Editar</a><a class="btn btn-danger" asp-action="Deletar" asp-route-id="@usuario.ID">Deletar</a></td>
        </tr>
        }
    </tbody>
</table>
