@model IEnumerable<Artigo>
@{
    ViewData["Title"] = "Artigos";
}

<div class="row">
    <div class="col-9">
        <h1>Artigos</h1>
        <h5>Todos os dias os assuntos mais atuais da semana.</h5>
    </div>
    <div class="col-3">
        <h4>Criar um novo artigo</h4>
        <a class="btn btn-primary" asp-controller="Artigo" asp-action="Criar">Novo Artigo</a>
    </div>
</div>
<hr></hr>
<div class="row">
    @foreach (var artigo in @Model)
    {
       <div class="col-12 mb-2 card-art">
           <h4><u>@artigo.Titulo</u></h4>
           <p>@artigo.texto</p>
           <span>@artigo.DataCriacao.ToString("D")</span>
       </div> 
    }
</div>
<style>
    .card-art{
        background-color: #265652;
        border-radius: 6px;
        box-shadow: 1rem .2rem .2rem rgba(255 255 255)

    }
</style>
